body {
	text-align: center;
	margin: 0;
}

h1{
	font-family: raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a{
	font-family: raleway;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	color: #F15B31;
	font-size: 200%;
}

h2{
	font-family: raleway;
	color:	#0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

h3{
	font-family: raleway;
	color:	#0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
}

p{
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

nav {
	background-color: #00a6b3;
	/*color: #ffffff;*/
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}

.social {
	color: #00a6b3;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.8em;
	font-weight: 500;
}

.copyright {
	font-family: raleway;
	float: left;
}

.message {
	font-family: raleway;
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

#refresh {
	background-color: #f15b31;
	font-family: raleway;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#score {
	background-color: #00a6b3;
	font-family: raleway;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#winorlose {
	width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#scorelist {
	font-family: raleway;
	color:	#f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
	padding: 10px;
	list-style-type: none;
}